.productsCards {
    display: flex;
    justify-items: center;
    padding: 10%;

}

main h1 {
    text-align: center;
    margin-top: 10%;
    color: #ffffff;
}

.product {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 280px;
    margin: 0 12px 24px 12px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.product h3 {
    margin-top: 15px;
    font-size: 1.2rem;
}
.product p{
    margin-top: 10px;
    font-size: 1.2rem;
}

.product:hover {
    transform: scale(1.05)
}

.btnProducts{
    margin-left: 76%;
    border-radius: 8px;
    background-color: #E7D17F;
    padding: 8px;
}