/* Temporal Eliminar */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divTemporal {
    height: 200px;
    width: 200px;
    background-color: rgb(135, 103, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Temporal Eliminar */