* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #322929;
}

/* Estilos del header */

header {
    background-color: #473D3D;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLeftHeader {
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.headerLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.headerLink p {
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: 700;
    font-size: 100px;
    line-height: 0.8;
    letter-spacing: 0;
    color: #B08844;
}


.logoCirclerHeader {
    height: 100px;
    width: 110;
}


.linkCurrentPage {
    color: black;
    background-color: #E7D17F;
    padding: 4px 10px;
    border-radius: 4px;
}

.navButtonRegister {
    background-color: #2C2C2C;
    border-radius: 8px;
    border: solid 1px #F1DE8A;
    padding: 4px 14px;
}


/* Estilos del footer */
footer{
    display: flex;
    border: 5px solid #E7D17F;
    background-color: #473D3D;
    height: auto;
    color: white;
    margin-top: 20px;
    justify-content: space-between;
    align-items: stretch;
}

.linea-vertical {
    width: 1px;
    background-color: #E7D17F;
    min-height: 200px;
    margin: 10px 0px
}

.rightFooter{
    margin: 14px;
    margin-left: 25px;
}

.rightUpFooter{
    display: flex;
}

.imagenFooterLeftUp{
    width:180px;
}

.containerTextUpRightFooter{
    align-items: center;
    text-align: center;
    margin-left: 25px;
}

.titleUpRightFooter{
    font-size: large;
}

.subTitleUpRightFooter{
    font-size: 13px;
    margin-top: 10px;
}


.rightDownFooter{
    display: flex;
    gap: 20px;
}

.titleDownSideFooter{
    color: #E7D17F;
}

.textDownSideFooter{
    font-size: 14px;
    margin-left: 15px;
    margin-top: 6px;
}

.secondSubTextFooter{
    margin-top: 20px;
}

.middleFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.middleFooter form{
    width: 100%;
}

.middleFooter input{
    border-radius: 15px;
    height: 40px;
    width: 80%;
    padding-left: 10px;
    border: solid 1px ;
    margin-top: 30px;
}


.textDownInputMidFooter{
    color: #c9c3c3;
    font-size: 15px;
}

.titleMidFooter{
    font-size: 25px;
}

.leftFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-right: 40px;
}

.leftFooter p{
    font-size: 25px;
}

.containerImgSocial{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contendorSocialMedia{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imagenRedsocialFooter{
    width: 50px;
    height: 50px;
}