* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #322929;
}

/* Estilos del header */

header {
    background-color: #473D3D;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerLeftHeader {
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: 20px;
}

nav {
    display: flex;
    gap: 20px;
    margin-right: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.headerLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.headerLink p {
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: 700;
    font-size: 100px;
    line-height: 0.8;
    letter-spacing: 0;
    color: #B08844;
}


.logoCirclerHeader {
    height: 100px;
    width: 110;
}


.linkCurrentPage {
    color: black;
    background-color: #E7D17F;
    padding: 4px 10px;
    border-radius: 4px;
}

.navButtonRegister {
    background-color: #2C2C2C;
    border-radius: 8px;
    border: solid 1px #F1DE8A;
    padding: 4px 14px;
}


/* Estilos del footer */
footer{
    display: flex;
    border: 5px solid #E7D17F;
    background-color: #473D3D;
    height: 100px;
    color: white;
    margin-top: 20px;
}
